<div class="profile-show">

  <% if policy(@user).show? %>

    <h2>Your profile</h2>

    <div class="card-product">
      <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill, style:"object-fit:cover" %>

      <div class="card-container">
        <div class="card-product-infos">
          <p>First name : <%= @user.first_name %></p>
          <p>Last name : <%= @user.last_name %></p>
          <p>Email : <%= @user.email %></p>
        </div>
        <div>
          <%= link_to "Edit my profile", edit_user_registration_path(current_user), class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  <% end %>

</div>

