<div class="paintings-show">

  <h1>Your painting</h1>

  <!-- CARD -->
  <div class="d-flex justify-content-center">
    <div class="card-trip">
      <%= cl_image_tag @painting.photo, height: 800, width: 600, crop: :fill %>
      <div class="card-trip-infos">
        <div>
          <h2 class="title"><%= @painting.title %></h2>
          <p>Description : <%= @painting.description %></p>
          <p>Category : <%= @painting.category %></p>
          <p>Address : <%= @painting.location %></p>
          <p class="price">Price : $<%= @painting.price %></p>
        </div>
      </div>
    </div>
  </div>

  <!-- BUTTONS -->
    <div class="d-flex justify-content-center">
      <div class="button-book">
      <% if (@painting.user != current_user) %>
            <%= link_to "Book", new_painting_booking_path(@painting), class: "btn btn-success" %>
      <% end %>

      <div class="button-edit">
        <% if policy(@painting).edit? %>
            <%= link_to "Edit", edit_painting_path(@painting), class: "btn btn-success" %>
        <% end %>
      </div>

      <% if policy(@painting).destroy? %>
          <%= link_to "Delete", painting_path(@painting), class: "btn btn-outline-success", method: :delete %>
      <% end %>
    </div>
  </div>

  <!-- REVIEWS -->

  <div class="reviews">
    <% if @reviews.empty? %>
      <h6><%= %("No reviews so for this painting") %></h6>
    <% else %>
      <h4>Reviews</h4>
      <% @reviews.each do |review| %>
        <div class="card-review">
          <div class="card bg-light mb-3">
            <div class="card-header">
              Rating: <%= review.rating %> - <%= review.date %>
            </div>
            <div class="card-body">
              <h6 class="card-title"><%= review.title %></h6>
              <p class="card-text"><%= review.content %></p>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>
   </div>

  <!-- RELATED PAINTINGS -->
  <div class="paintings-show">
    <h4>Related Paintings</h4>
    <div class="row justify-content-center">
      <% @related_paintings.each do |related| %>
        <div class="col-md-2 related-paintings">
          <%= cl_image_tag related.photo, height: 350, width: 500, crop: :fill %>

        <div class="text">
          <div class="price">$<%= related.price %></div>
          <div class="title"><%= link_to related.title, painting_path(related) %></div>
        </div>
        </div>
      <% end %>
    </div>
  </div>


  <!-- REALATED TAGS -->
  <div class="tags">
    <h4>Related Tags</h4>
    <% @painting.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag) %>
    <% end %>
  </div>

</div>
