<p>paintings#show show.html.erb</p>
<p><%= @painting.title %></p>
<p><%= @painting.description %></p>
<p><%= @painting.price %></p>
<p><%= @painting.category %></p>
<p><%= @painting.location %></p>

<% if (@painting.user != current_user) %>
  <%= link_to "Book", new_painting_booking_path(@painting) %>
<% end %>

<% if policy(@painting).edit? %>
  <%= link_to "Edit", edit_painting_path(@painting) %>
<% end %>

<% if policy(@painting).destroy? %>
  <%= link_to "Delete", painting_path(@painting), method: :delete %>
<% end %>

<% unless @reviews.nil? %>
  <h5>Reviews</h5>
  <% @reviews.each do |review| %>
    <p><%= review.content %></p>
  <% end %>
<% end %>
