<h2>Your painting</h2>
<%= cl_image_tag @painting.photo, height: 300, width: 400, crop: :fill %>

<p>Title : <%= @painting.title %></p>
<p>Description : %= @painting.description %></p>
<p>Price : <%= @painting.price %></p>
<p>Category : <%= @painting.category %></p>
<p>Address : <%= @painting.location %></p>


<p><%= link_to "Book", new_painting_booking_path(@painting) %></p>
<p><%= link_to "Edit", edit_painting_path(@painting) %></p>
<p><%= link_to "Delete", painting_path(@painting), method: :delete %></p>
