<div class="booking-index">

  <h2>Your bookings</h2>

  <% @bookings.each do |booking| %>

    <div class="card-product">
      <%= cl_image_tag booking.painting.photo, height: 300, width: 400, crop: :fill %>

      <div class="card-container">
        <div class="card-product-infos">
          <h2>
            <%= booking.painting.title %> by <%= current_user.first_name %> <%= current_user.last_name %> -
            <span class="price"><%= booking.painting.price %>/per day</span>
          </h2>
          <p><%= booking.painting.description %></p>
          <p>Booking date : <%= booking.start_date %> - <%= booking.end_date %> </p>
        </div>
        <div>
          <%= link_to "Review", new_painting_review_path(booking.painting)  %> /
          <% if booking.status != 'canceled' %>
            <%= link_to "Edit", edit_booking_path(booking)  %>
            <%= link_to "Cancel", booking_path(booking, booking: {status: 'canceled'}), method: :put, data: { confirm: 'Are you sure you want to cancel the current Booking?' } %>
          <% else %>
            <p>CANCELED</p>
          <% end %>
        </div>

      </div>

    </div>


  <% end %>

  <h2>My Paintings rented out</h2>

  <% @paintings.each do |painting| %>

    <% painting.bookings.each do |booking| %>

      <div class="card-product">
        <%= cl_image_tag booking.painting.photo, height: 300, width: 400, crop: :fill %>

        <div class="card-container">
          <div class="card-product-infos">
            <h2>
              <%= booking.painting.title %> -
              <span class="price"><%= booking.painting.price %>/per day</span>
            </h2>
            <p><%= booking.painting.description %></p>
            <p>Booking date : <%= booking.start_date %> - <%= booking.end_date %> </p>
          </div>
          <div>
            <p>rented by <%= booking.user.first_name %> <%= booking.user.last_name %></p>
          </div>

        </div>

      </div>
    <% end %>
  <% end %>

</div>


