<div class="bookings-show">
  <h2>Your Booking</h2>
  <% if policy(@booking).show? %>

  <div class="row">
    <div class="col-12 col-lg-6">
      <%= cl_image_tag @booking.painting.photo %>
    </div>
    <div class="col-12 col-lg-6">
      <div class="price-title-info">
        <div class="title">
          <h3><%= @booking.painting.title %></h3>
          <p class="address"><%= @booking.location %></p>
        </div>
        <p>RMB: <%= @booking.painting.price %></p>
      </div>
      <!-- BOOKING -->
      <p><strong>Booking:</strong> &nbsp;<%= @booking.start_date %> to <%= @booking.end_date %></p>

      <!-- EDIT BOOKING -->
      <% if @booking.status != 'canceled' %>
        <%= link_to "Edit Booking", edit_booking_path %>
        <%= link_to "Cancel", booking_path(@booking, booking: {status: 'canceled'}), method: :put %>
      <% else %>
        <p>CANCELED</p>
      <% end %>
    </div>
  </div>

  <% end %>
</div>
