<% @paintings.each do |painting| %>
  <div class="card-index-painting" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1530728606679-db4cf2cc479b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1420&q=80" alt="Card image cap">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title"><%= painting.title %></h5>
        <p class="card-text">$ <%= painting.price %></p>
      </div>
      <p class="card-text"><%= painting.description %></p>
      <%= link_to "Book", new_painting_booking_path(painting), class: "btn btn-primary" %>
      <%= link_to "Details", painting_path(painting), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
