<% @paintings.each do |painting| %>
  <div class="card-index-painting" style="width: 18rem;">
    <% raise %>
    <img class="card-img-top" src="<%= image_url painting.photo %>" alt="Card image cap">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title"><%= painting.title %></h5>
        <p class="card-text">$ <%= painting.price %></p>
      </div>
      <p class="card-text"><%= painting.description %></p>
      <%= link_to "Book", new_painting_booking_path(painting), class: "btn btn-primary" %>
      <%= link_to "Details", painting_path(painting), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
