<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HomeGallery</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="navbar">
      <a href="/"><h4 class="logo">HomeGallery</h4></a>
      <div class="search-bar">
        <!-- TODO: SEARCH BAR -->
        <%= simple_form_for :search, defaults: { required: false }, url: paintings_path, method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= f.input :name, label: false, placeholder: "Search...", input_html: {value: ""} %>
        <% end %>
      </div>

      <%= signed_in? ? 'logged in' : 'logged out' %>

      <% if false %>
        <!-- IF USER IS LOGGED IN -->
        <a class="host-service">Host a service</a>
        <!-- TODO: CREATE AVATAR -->
      <% else %>
        <!-- USER IS NOT LOGGED In -->
        <!-- FIXME: erb tag link_to -->
        <div class="options">
          <a href="#">Login</a>
          <a class="host-service" href="#">Host a service</a>
        </div>
      <% end %>
    </div>

    <!-- CONTAINER -->
    <% if @no_container %>
      <div>
    <% else %>
      <div class="container">
    <% end %>

    <%= yield %>
    </div>

    <!-- JAVASCRIPT -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
