<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HomeGallery</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- WRAPPER FOR BODY -->
    <div>
      <!-- NAVBAR -->
      <div class="navbar">
        <a href="/"><h4 class="logo">HomeGallery</h4></a>
        <!-- SEARCH BAR -->
        <% unless @no_search_bar %>
          <div class="search-bar">
            <%= simple_form_for :search, defaults: { required: false }, url: paintings_path, method: "GET", html: { class: 'form-inline' } do |f| %>
              <%= f.input :title, label: false, placeholder: "Search...", input_html: {value: ""} %>
            <% end %>
          </div>
        <% end %>
  
        <% if current_user %>
          <!-- IF USER IS LOGGED IN -->
          <div class="options">
            <!-- FIXME: logout and host a service-->
            <%= link_to  "Host a service", new_painting_path, class: "host-service" %>
            <%= link_to  "Your Bookings", bookings_path %>
            <%= link_to  "Logout", destroy_user_session_path, method: :delete %>
            <!-- TODO: CREATE AVATAR -->
          </div>
        <% else %>
          <!-- USER IS NOT LOGGED In -->
          <div class="options">
            <%= link_to  "Login", new_user_session_path %>
            <%= link_to  "Host a service", new_painting_path, class: "host-service" %>
          </div>
        <% end %>
      </div>
  
      <!-- CONTAINER -->
      <% if @no_container %>
        <div>
      <% else %>
        <div class="container">
      <% end %>
      <%= yield %>
      </div>
    </div>

    <!-- TODO: FOOTER -->
    <!-- <footer class="page-footer">
      <p>asdas</p>
    </footer> -->

    <!-- JAVASCRIPT -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
